{% extends 'base.html.twig' %}

{% block title %}Fiche Livre{% endblock %}

{% block h1 %}Fiche du livre n°{{livre.id}}{% endblock %}

{% block body %}
    <ul class="list-group">
    <li class="list-group-item">
        <strong>Identifiant :</strong> {{ livre.id}}
    </li>
    <li class="list-group-item">
        <strong>Titre :</strong> {{ livre.titre}}
    </li>
    <li class="list-group-item">
        <strong>Auteur :</strong> {{ livre.auteur}}
    </li>
    <li class="list-group-item">
        <strong>Couverture</strong>
        <img src="{{ asset("img/" ~ livre.couverture) }}" alt="pas de couverture">
    </li>
    <li class="list-group-item">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th colspan=2>Emprunts</th>
                    <th>Nb d'emprunt : {{ livre.emprunts|length }} </th>
                </tr>
                <tr>
                    <th>Abonné</th>
                    <th>Emprunté le</th>
                    <th>Rendu le</th>
                </tr>
            </thead>
            <tbody>
                {% for emprunt in livre.emprunts %}
                    <tr>
                        <td>{{ emprunt.abonne.pseudo}}</td>
                        <td>{{ emprunt.dateEmprunt|date("d/m/Y")}}</td>
                        <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date("d/m/Y")  : "Le livre n'est pas encore rendu" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </li>
    </ul>


      {# {% set count = 0 %}
      {% for livre in livre.emprunts %}
      {% set count = count + 1 %}
      {% endfor %}

    <p> Ce livre a été emprunté {{ count }} fois.</p> #}

  </table>


    <a href="{{ path('livre') }}">Retour à la liste des livres</a>

{% endblock %}
